.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px 15px;

  background:
    radial-gradient(
      circle at 50% 20%,
      rgba(124, 58, 237, 0.2),
      transparent 35%
    ),
    #090812;
}

.auth-card {
  position: relative;

  width: 100%;
  max-width: 450px;

  padding: 40px;

  border: 1px solid rgba(139, 92, 246, 0.25);
  border-radius: 20px;

  background: rgba(21, 19, 34, 0.95);

  box-shadow:
    0 30px 100px rgba(0, 0, 0, 0.55);

  backdrop-filter: blur(15px);
}

.auth-logo {
  width: 65px;
  height: 65px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto 20px;

  border-radius: 18px;

  background: linear-gradient(
    135deg,
    #7c3aed,
    #a855f7
  );

  font-size: 30px;

  box-shadow:
    0 0 35px rgba(124, 58, 237, 0.35);
}

.auth-label {
  text-align: center;

  color: #a78bfa;

  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
}

.auth-card h1 {
  margin-top: 7px;

  text-align: center;

  font-size: 30px;
  color: white;
}

.auth-subtitle {
  margin: 10px auto 28px;

  max-width: 330px;

  text-align: center;

  color: #898598;

  font-size: 13px;
  line-height: 1.6;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;

  margin-bottom: 12px;
}

.input-group label {
  color: #aaa4b8;

  font-size: 11px;
  font-weight: 600;
}

.input-group input {
  width: 100%;

  padding: 13px 14px;

  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 9px;

  outline: none;

  background: #0e0c17;

  color: white;

  transition: 0.2s;
}

.input-group input::placeholder {
  color: #5f5a6d;
}

.input-group input:focus {
  border-color: #8b5cf6;

  box-shadow:
    0 0 0 3px rgba(139, 92, 246, 0.1);
}

.auth-btn {
  width: 100%;

  margin-top: 10px;

  padding: 14px;

  border: none;
  border-radius: 10px;

  background: linear-gradient(
    135deg,
    #7c3aed,
    #9333ea
  );

  color: white;

  font-weight: 700;

  cursor: pointer;

  transition: 0.25s;

  box-shadow:
    0 10px 30px rgba(124, 58, 237, 0.25);
}

.auth-btn:hover {
  transform: translateY(-2px);

  box-shadow:
    0 14px 35px rgba(124, 58, 237, 0.4);
}

.auth-footer {
  margin-top: 24px;

  text-align: center;

  color: #77738c;

  font-size: 12px;
}

.auth-footer a {
  color: #a78bfa;

  font-weight: 700;

  text-decoration: none;
}

.auth-footer a:hover {
  color: #c4b5fd;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .auth-card {
    padding: 30px 22px;
  }

  .auth-card h1 {
    font-size: 25px;
  }
}